.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 800px;
    font-family:'Arcade' ;
    font-size: 0pt;
    margin: auto;
    
    border: 4mm ridge rgba(112, 112, 112, 0.733);;
    
   
  
    -ms-transform: scale(0.7) ;
    transform: scale(0.7) 
   
   
  }
  
  

  @font-face {
      font-family: 'Arcade';
      src: url('../ARCADE.TTF');
  }