.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 800px;
    font-family:'Arcade' ;
    font-size: 0pt;
    margin: auto;
    
    border: 4mm ridge rgba(112, 112, 112, 0.733);;
    
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   
  }
  
  

  @font-face {
      font-family: 'Arcade';
      src: url('../ARCADE.TTF');
  }